<h1>soy la pagina de contacto</h1>
<h2>contacto xd</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, consequatur ullam amet odio corporis molestiae
    incidunt iusto alias dolorum repellendus eos fugit quos, autem aliquam sit beatae vel. Laborum, totam.</p>