<h1>soy la pagina de nosotros</h1>
<h2>nosotros xd</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, consequatur ullam amet odio corporis molestiae
    incidunt iusto alias dolorum repellendus eos fugit quos, autem aliquam sit beatae vel. Laborum, totam.</p>